<div class="col">
    <div class="card">
        <img class=card-img-top src="<%= pet.avatarUrl %>" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title"><% pet.name %></h4>
            <p class="card-text">Favourite food: <%= pet.favouriteFood %></p>            
        </div>
    </div>
</div>