<header class="jumbotron">
        <h1 class="display-3"><%= header.title %> </h1>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a>
        </p>
</header>